/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* navbar design */
  .logo{
    width: 62px;
    height: 62px;
    /* margin: 20px 11px 0px 141px ; */
  }
  .school-title{
    font-size: 2rem;
    font-weight: 32px;
    /* width: 30x; */
    height: 30px;
  }
  .nav-links{
    font-weight: 700;
    font-size: 1.25rem;
    list-style: none;
    margin-right: 32px;
    gap: 32px;
    justify-items: center;
    display: flex;
  }
  .navbar{
    max-width: 1160px;
    height: 62px;
    margin: 20px 140px 20px 140px;
    justify-content: space-between;
    align-items: center;
  }

  .display-flex{
    display: flex;
  }
  .btn-primary{
    font-weight: 600;
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 1);
    width: 197px;
    height: 50px;
    padding: 10px;
    border-radius: 12px;
    background-color: rgba(254, 163, 1, 1);
    border: none;
  }

  /* nav title style */
  .home{
    color: rgba(254, 163, 1, 1);
  }
  .about{
    color: rgba(1, 172, 253, 1);
  }
  .facilities{
    color: rgba(5, 212, 223, 1);
  }
  .admit{
    color: rgba(93, 88, 239, 1);
  }
/* banner section style */
.banner{
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
    max-height: 575px;
    margin: 0px 140px 60px 140px;
}
.banner-title{
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 20px;
    margin-right: 50px;
}
.banner-description{
    font-size: 1.25rem;
}
.banner-picture{
    width: 468px;
    height: 575px;
    opacity: 100%;
    margin-left: 50px;
}
.btn-second{
    width: 197px;
    height: 50px;
    border-radius: 12px;
    border: none;
    color: white;
    font-size: 1.25rem;
    background-color:rgba(17, 17, 17, 1);
    
}
.empower{
    color: rgba(254, 163, 1, 1);
}
.vison{
    color: rgba(1, 172, 253, 1);
}
#check{
    display: none;
}

/* curriculum style */
.curriculm{
  font-weight: 700;
  font-size: 2.875rem;
  min-width: 460px;
  height: 57px;
  margin-top: 60px;
  margin-bottom: 80px;
  text-align: center;
  color: rgba(0, 0, 0, 1)s;
}
.cards-container{
  background-image: url(../assets/bg.png);
  max-width: 1440px;
  height: 879px;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 28px;
  padding: 28px;
  margin: 80px 0px 80px 0px;
  margin-left: 140px;
  margin-right: 140px;
}
.cards-1, .cards-2, .cards-3{
  width: 367px;
  height: 476px;
  border-radius: 19px;
}
.cards-1{
  background-image: linear-gradient(rgba(222, 245, 255, 1), rgba(255, 255, 255, 1));
  border: 2px solid rgba(222, 245, 255, 1);
}
.cards-2{
  background-image: linear-gradient(rgba(255, 244, 220, 1), rgba(255, 255, 255, 1));
  border: 2px solid rgba(255, 244, 220, 1);
}
.cards-3{
  background-image: linear-gradient(rgba(242, 232, 255, 1),rgba(255, 255, 255, 1));
  border: 2px solid rgba(242, 232, 255, 1);
}
.cards-img-1, .cards-img-2, .cards-img-3{
  width: 136px;
  height: 136px;
  padding-top: 52px;
  padding-bottom: 20px;
}
.cards-title{
  font-weight: 700px;
  font-size: 1.5rem;
  color: rgba(32, 32, 32, 1);
}
.cards-description{
  font-weight: 500;
  font-size: 0.994rem;
  color: rgba(128, 128, 128, 1);
}
.read-more-1{
  font-weight: 700;
  font-size: 0.994rem;
  color: rgba(100, 200, 255, 1);
}
.read-more-2{
  font-weight: 700;
  font-size: 0.994rem;
  color: rgba(240, 170, 0, 1);
}
.read-more-3{
  font-weight: 700;
  font-size: 0.994rem;
  color: rgba(135, 0, 255, 1);
}
.arrow-img{
  margin-top: 80px;
  margin-bottom: 60px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow-left{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: none;
  background-color: rgba(254, 163, 1, 1);
}
.arrow-right{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: none;
  background-color: rgba(254, 163, 1, 1);
}
/* story section */
.story{
  background-image: url(../assets/bg.png);
  background-image: linear-gradient(rgba(255, 255, 255, 1),rgba(254, 163, 1, 0.3));
  max-width: 1440px;
  max-height: 1018px;
}

  /* mobile device responsive */
  @media screen and (max-width:576px) {
   
}